.slideshow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 0px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slide {
    min-width: 100%;
    position: relative;
}

.slide img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.slide-title {
    position: absolute;
    bottom: 20%;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.text-section {
    color: #333;
    text-align: center;
}

.text-section h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 2px;
}

.text-section p {
    font-size: 1rem;
    color: #555;
}

/* Desktop layout */
@media (min-width: 768px) {
    .slideshow-container {
        flex-direction: row;
        align-items: flex-start;
        /* margin-left: 200px; Sidebar margin */
    }

    .text-section {
        flex: 1;
        /* padding: 10px 40px; */
        /* margin-left: 200px; */
    }

    .slide-title {
        display: flex; /* Hide title overlay on desktop */
    }
}

/* Mobile layout */
@media (max-width: 767px) {
    .slideshow-container {
        flex-direction: column;
        margin-left: 0;
    }

    .text-section {
        margin-top: 5px;
        padding: 10px;
        text-align: center;
    }
    
}